body {
    margin: 0;
    padding: 0;
}

.esquerda, .central, .direita {
    float: left;
    height: 100px;
    color: white;
    line-height: 100px;
    text-align: center;
}

.esquerda {
    width: 200px;
    background-color:red;
}

.central {
    width: 400px;
    background-color: orangered;
}

.direita {
    width: 200px;
    background-color: orange;
}